@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Projeto de cantina</h3>
                <h6 class="font-weight-normal mb-0">Página inicial</h6>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card tale-bg">
            <img class="img-thumbnail" src="~/images/criancas_fila.jpg" alt="cantina">
        </div>
    </div>
</div>