@model ProdutoViewModel

@{
    ViewData["Title"] = "Produto";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Deletar produto</h4>
                <p class="text-danger card-description">
                    Deseja excluir o produto abaixo?
                </p>
                <form asp-action="Deletar" asp-controller="Produto" method="post" class="forms-sample">
                    <div hidden class="form-group">
                        <label asp-for="ProdutoID"></label>
                        <input readonly asp-for="ProdutoID" class="form-control col-6" />
                        <span asp-validation-for="ProdutoID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nome"></label>
                        <input readonly asp-for="Nome" class="form-control col-6" placeholder="Nome do produto" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoriaID">Categoria</label>
                        <select disabled class="form-control  col-6" aria-label="category list" asp-for="CategoriaID" class="form-control" asp-items="@ViewBag.SelectCategoria">
                            <option>Porfavor selecione uma categoria</option>
                        </select>
                        <span asp-validation-for="CategoriaID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CodigoBarras"></label>
                        <input readonly asp-for="CodigoBarras" class="form-control col-6" placeholder="Código de barras" />
                        <span asp-validation-for="CodigoBarras" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PrecoVenda"></label>
                        <input readonly asp-for="PrecoVenda" class="form-control col-6" placeholder="Preço de venda" />
                        <span asp-validation-for="PrecoVenda" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estoque"></label>
                        <input readonly asp-for="Estoque" class="form-control col-6" placeholder="Estoque" />
                        <span asp-validation-for="Estoque" class="text-danger"></span>
                    </div>
                    <button id="buttonCadastrar" type="submit" class="btn btn-danger mr-2">Deletar</button>
                    <a asp-action="Index" asp-controller="Produto" class="btn btn-warning">Voltar</a>
                </form>
                <div class="row p-1 alert">
                    <div id="messagesList" class="col-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>