@model UsuarioViewModel

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cadastro de usuario</h4>
                <p class="card-description">
                    Complete o campo abaixo
                </p>
                <form id="form" asp-action="Adicionar" asp-controller="Usuario" method="post" class="forms-sample">
                    <div class="form-group">
                        <label asp-for="NomeUsuario"></label>
                        <input asp-for="NomeUsuario" class="form-control col-6" placeholder="Usuário" />
                        <span asp-validation-for="NomeUsuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Senha"></label>
                        <input asp-for="Senha" class="form-control col-6" placeholder="Senha" />
                        <span asp-validation-for="NomeUsuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmarSenha"></label>
                        <input asp-for="ConfirmarSenha" class="form-control col-6" placeholder="Confirmar senha" />
                        <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
                    </div>
                    <button id="buttonCadastrar" type="submit" class="btn btn-primary mr-2">Cadastrar</button>
                    <a asp-action="Index" asp-controller="Usuario" class="btn btn-warning">Voltar</a>
                </form>
                <div class="row p-1 alert">
                    <div id="messagesList" class="col-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>