@model UsuarioViewModel

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Deletar usuario</h4>
                <p class="card-description text-danger">
                    Deseja deletar o usuário abaixo?
                </p>
                <form id="form" asp-action="Deletar" asp-controller="Usuario" method="post" class="forms-sample">
                    <div hidden class="form-group">
                        <label asp-for="UsuarioID"></label>
                        <input asp-for="UsuarioID" class="form-control col-6" />
                        <span asp-validation-for="UsuarioID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NomeUsuario">Nome de usuário</label>
                        <input readonly asp-for="NomeUsuario" class="form-control col-6" placeholder="Usuário" />
                        <span asp-validation-for="NomeUsuario" class="text-danger"></span>
                    </div>                                
                    <button id="buttonCadastrar" type="submit" class="btn btn-danger mr-2">Deletar</button>
                    <a asp-action="Index" asp-controller="Usuario" class="btn btn-warning">Voltar</a>
                </form>
                <div class="row p-1 alert">
                    <div id="messagesList" class="col-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>